BUILD/
mbed-os/
matlab/slprj/
matlab/solidworks_model/slprj/
~*.SLDPRT
*.slxc
*.asv
*.mat
.vscode/
.hg/
.temp/
*.mbed
esp/*/build/
wireless_pcb_design/Project Outputs/
wireless_pcb_design/Project Outputs for WirelessPCB/
wireless_pcb_design/History/
wireless_pcb_design/Project Logs for WirelessPCB/
wireless_pcb_design/debug.log
wireless_pcb_design/__Previews
